body{
	margin:0;
	padding: 0;	
}
.container{
	width: 100%;
	max-width: 400px;
	position: relative;
	background: black;
}
.image{
	width: 100%;
	display: block;
	height: auto;
}
.overly{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom:0;
	height: 100%;
	width:100%;
	opacity: 0;
	transition: 0.3s ease;
}
.container:hover .overly{
	opacity: 1;
	background: rgba(0,0,0, .8);
	cursor: pointer;
}
.overly h1{
	text-align: center;
	color:#fff;
	top: 75px;
	left: 100px;
	position: absolute;
}

